<h1>{{titulo}}</h1>
{{#if productos.length>0}}
<ul>
    {{#each productos}}
    <li>{{this.title}} {{this.code}}</li>
    {{/each}}
</ul>
{{else}}
<p>No hay productos para mostrar</p>
{{/if}}
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realtime.js"></script>